*{
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Nationale-light", sans-serif;
    src: url("./font/Nationale-light.otf");
    background-color: rgb(29, 29, 29);
    font-size: 12pt;
    overflow-x: hidden;
}

h1 {
    color: #06FFFF;
    margin-bottom: 100px;
}

h2, h3, h4, h5 {
    color: #06FFFF;
    font-weight: 500;
}

.textbox {
    max-width: 50%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.form-box {
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    margin-top: 20px;
}

form {
    margin-top: 30px;
    margin-bottom:30px;
}


.row {
    position: relative;
    margin: 20px auto;
    width: 1024px;
    margin-bottom: 50px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
    width: 1024px;
    margin-bottom: 20px;
}

#progress {
    /* border-bottom: 1px solid white; */
    visibility: hidden;
    top: 0;
    position: fixed;
}

#progress_inner {
    background-color: white;
    /* -webkit-transition: width 1s; */
    color: black;
    font-size: 14px;
    width: 60px;
    text-align: left;
    padding: 3px 20px 5px;
}

input {
    border: none;
    border-bottom: 2px solid #dedede;
    text-align: center;
    font-size: 10pt;
    background-color: inherit;
    color: white;
}

input:focus::-webkit-input-placeholder{
    opacity: 0;
}

.input {
    margin: 40px 0 100px;
}

select {
    width: 100px;
    height: 20px;
    padding: 5%;
    margin-left: 500px;
    margin-right: 500px;
}

.submit {
    font-size: 12px;
    padding: 10px 30px 12px;
    color:#06FFFF;
    border: 1px solid white;
    background-color: inherit;
    margin-bottom: 60px;
    margin-top: 50px;
    cursor: pointer;
}

img, canvas {
    top: 0;
    left: 0;
    position: absolute;
}

.base_image {
    position: relative;
}

.template {
    width: 1024px;
    height: auto;
}

.reflection {
    top: 17.97%;
    left: 28.2%;
    width: 27.2%;
    height: auto;
    position: absolute;
}

/* DEVICE BUTTONS TOP MENU */

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px;
    border-top: 1px solid white;
    padding-top: 20px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    color: #06FFFF;
}

.devicebtn {
    text-align: center;
    cursor: pointer;
    margin-left: 120px;
    margin-right: 120px;
}

.width {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    min-width: 50%;
}

.half-width {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.input-expl{
    margin-top: 50px;
}

.subtitle {
    margin-top: 30px;
}

.logo {
    max-width: 60px;
    margin: 0 auto;
    margin-top: 100px;
    display: block;
    position: unset;
}

.saveBtn {
    cursor: pointer;
    font-size: 15pt;
    padding: 2%;
   border: 1px solid white;
}

.saveBtn:visited {
    text-transform: none;
}


.mockup-image{
    position: unset;
    width: 100%;
    /* height: 250px;
    margin: 5px; */
}

section {
    margin-bottom: 100px;
}

option{
    width: 500px;
}

.apple_device_checkbox {
    width: 20%;
    margin: 0 auto;
}

p.checkbox{
    text-align: left;
    display: inline;
    left: 0;
    margin-top: 0;
}

.check {
    -moz-appearance: none;
    margin: 0;
    margin-left: 30px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.active {
    border-bottom: 1px solid white;
}

#errormsg {
    color: #f02ab5;
}